.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 204px;
  background: #E7E4DD;
}
.naviagtionHeader {
  display: flex;
  gap: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.imgHeader {
  background-color: aqua;
}
.background-img {
  background: url(/public/table.png);
  height: 690px;
  max-width: 1920px;
  max-height: 1920px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 30%;
  color: #ffffff;
  gap: 20px;
}
.button {
  background-color: transparent;
  color: #ffffff;
  border:  2px ridge #ffffff;
  padding: 16px 32px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
}
.bottom-container-img {
  background: #E7E4DD;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 300px); 
  gap: 20px;
  align-items: center; 
  justify-items: center;
  padding: 50px;
}
.wood-img {
  background: url(/public/tree.jpg);
  height: 250px;
  width: 350px;
  background-size: cover;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.about-me {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.5;
}
.socialInfo-container {
  display: flex;
  background: #E7E4DD;
  border-top: 1px solid #3D3D3D;
  border-bottom: 1px solid #3D3D3D;
  letter-spacing: 1.5px;
  padding: 50px;
  gap: 10px;
  flex-direction: column;
}
.socialInfo-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-container {
  background: #E7E4DD;
  display: block;
  align-items: center; 
  justify-content: center;
  padding: 50px;
}
.socialInfo-iconsFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.navigation-footer {
  display: flex;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  gap: 50px;
}
