.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 204px;
  background: #E7E4DD;
}
.naviagtionHeader {
  display: flex;
  gap: 56px;
}
.background-img {
  background: url(/public/table.png);
  height: 690px;
  max-width: 1920px;
  max-height: 1920px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 30%;
  color: #ffffff;
  gap: 20px;
}
.button {
  background-color: transparent;
  color: #ffffff;
  border:  2px ridge #ffffff;
  padding: 16px 32px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
}
.bottom-container-img {
  background: #E7E4DD;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wood-img {
  background: url(/public/tree.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 100px;
}
.about-me {
  flex: 1;
  padding: 100px;
}
