.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 204px;
  border-bottom: 1px solid #3D3D3D;
}
.navigationHeader {
  display: flex;
  gap: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.navigationHeader a {
  text-decoration: none;
  color: black;
}
.imgHeader {
  background-color: aqua;
  cursor: pointer;
  transition: transform 0.5s ease; 
  border-radius: 50%;
}
.imgHeader:hover {
  transform: rotate(720deg);
}
.background-img {
  background: url(/public/table.png);
  height: 690px;
  max-width: 1920px;
  max-height: 1920px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 30%;
  color: #ffffff;
  gap: 20px;
  
}
.button {
  background-color: transparent;
  color: #ffffff;
  border:  2px ridge #ffffff;
  padding: 16px 32px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: min-content;
  white-space: nowrap;
}
.black {
  color: black;
  border: 2px ridge black;
}
.button:hover {
  transform: scale(1.1);
}
.basket-button {
  background-color: transparent;
  color: #000000;
  border:  2px ridge #000000;
  padding: 16px 32px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: min-content;
  white-space: nowrap;
}
.basket-button:hover {
  transform: scale(0.8);
}
.bottom-container-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 300px); 
  gap: 20px;
  align-items: center; 
  justify-items: center;
  padding: 50px;
}
.wood-img {
  background: url(/public/tree.jpg);
  height: 250px;
  width: 350px;
  background-size: cover;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.about-company {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.5;
}
.socialInfo-container {
  display: flex;
  border-top: 1px solid #3D3D3D;
  letter-spacing: 1.5px;
  padding: 50px;
  gap: 10px;
  flex-direction: column;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  min-height: 450px;
  align-items: center;
  gap: 10px;
  border: 1px solid #3D3D3D;
  border-radius: 5px;
  padding: 10px;
}
.product-container img {
  max-width: 90%;
}
.product-tiles-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px;
}
.main-container-product-describe {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  gap: 50px;
}
.inner-container-product-carousel {
  display: flex;
}
.inner-container-product-carousel img {
  max-width: 100%;
}
.inner-container-product-describe {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  flex-direction: column;
  line-height: 1.5;
  gap: 10px;
  border-bottom: 1px solid #3D3D3D;
  padding-bottom: 20px;
}
.carousel {
  max-width: 480px;
}
.carousel-img {
  width: 480px;
}
.faq-element-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.about-me-main-container {
  display: flex;
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
}
.me-photo {
  max-width: 150px;
  max-height: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.faq-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.socialInfo-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.socialInfo-icons:hover {
  transform: scale(1.1);
}
.footer-container {
  display: block;
  align-items: center; 
  justify-content: center;
  padding: 50px;
  border-top: 1px solid #3D3D3D;
}
.socialInfo-iconsFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.socialInfo-iconsFooter:hover {
  transform: scale(1.1);
}
.navigation-footer {
  display: flex;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  gap: 50px;
  cursor: pointer;
}
.navigation-footer a {
  text-decoration: none;
  color: black;
}
.basket-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
.main-basket-container {
  display: flex;
  justify-content: space-evenly;
}
.summary-contaner {
  display: flex;
  max-width: 400px;
}
a.active {
  color: rgb(192, 66, 34);
  text-decoration: underline;
}
